<h2>Template-driven-forms</h2>
<form #form="ngForm" (ngSubmit)="submitForm(form)">
  <label>
    Nome:
    <input type="text" name="inputName" #name="ngModel" [ngModel]="name.value" required />
  </label>

  <hr />
  <!-- O value informa o valor do campo-->
  <p>value : {{ name.value }}</p>
  <!--O valid informa se o campo foi preenchido -->
  <p>valid : {{ name.valid }}</p>
  <!-- O dirty informa se o campo foi sujo(preenchido) alguma vez -->
  <p>dirty : {{ name.dirty }}</p>
  <!-- O touched informa se o campo foi tocado (clicado) alguma vez -->
  <p>touched : {{ name.touched }}</p>
  <hr />

  <!--Ja vem com um valor "Feminino" como default -->
  <label>
    Feminino:
    <input
      type="radio"
      value="Feminino"
      name="readioSexo"
      #sexo="ngModel"
      [ngModel]="sexo.value"
      required
    />
  </label>

  <label>
    Masculino:
    <input
      type="radio"
      value="Masculino"
      name="readioSexo"
      #sexo="ngModel"
      [ngModel]="sexo.value"
      required
    />
  </label>

  <label>
    Outros:
    <input
      type="radio"
      value="Outros"
      name="readioSexo"
      #sexo="ngModel"
      [ngModel]="sexo.value"
      required
    />
  </label>

  <hr />
  <!-- O value informa o valor do campo-->
  <p>value : {{ sexo.value }}</p>
  <!--O valid informa se o campo foi preenchido -->
  <p>valid : {{ sexo.valid }}</p>
  <!-- O dirty informa se o campo foi sujo(preenchido) alguma vez -->
  <p>dirty : {{ sexo.dirty }}</p>
  <!-- O touched informa se o campo foi tocado (clicado) alguma vez -->
  <p>touched : {{ sexo.touched }}</p>
  <hr />

  <label>
    Angular:
    <input
      type="checkbox"
      value="Angular"
      name="checkboxAngular"
      #techAngular="ngModel"
      [ngModel]="techAngular.value"
      required
    />
  </label>

  <hr />
  <!-- O value informa o valor do campo-->
  <p>value : {{ techAngular.value }}</p>
  <!--O valid informa se o campo foi preenchido -->
  <p>valid : {{ techAngular.valid }}</p>
  <!-- O dirty informa se o campo foi sujo(preenchido) alguma vez -->
  <p>dirty : {{ techAngular.dirty }}</p>
  <!-- O touched informa se o campo foi tocado (clicado) alguma vez -->
  <p>touched : {{ techAngular.touched }}</p>
  <hr />

  <label>
    Vue:
    <input
      type="checkbox"
      value="Vue"
      name="checkboxVue"
      #techVue="ngModel"
      [ngModel]="techVue.value"
      required
    />
  </label>

  <hr />
  <!-- O value informa o valor do campo-->
  <p>value : {{ techVue.value }}</p>
  <!--O valid informa se o campo foi preenchido -->
  <p>valid : {{ techVue.valid }}</p>
  <!-- O dirty informa se o campo foi sujo(preenchido) alguma vez -->
  <p>dirty : {{ techVue.dirty }}</p>
  <!-- O touched informa se o campo foi tocado (clicado) alguma vez -->
  <p>touched : {{ techVue.touched }}</p>
  <hr />

  <label>
    React:
    <input
      type="checkbox"
      value="React"
      name="checkboxReact"
      #techReact="ngModel"
      [ngModel]="techReact.value"
      required
    />
  </label>

  <hr />
  <!-- O value informa o valor do campo-->
  <p>value : {{ techReact.value }}</p>
  <!--O valid informa se o campo foi preenchido -->
  <p>valid : {{ techReact.valid }}</p>
  <!-- O dirty informa se o campo foi sujo(preenchido) alguma vez -->
  <p>dirty : {{ techReact.dirty }}</p>
  <!-- O touched informa se o campo foi tocado (clicado) alguma vez -->
  <p>touched : {{ techReact.touched }}</p>
  <hr />

  <!--
  <select name="selectComidas" #comidas="ngModel" ngModel>
    <option value="">Selecione um alimento</option>
    <option value="Comida 1">Comida 1</option>
    <option value="Comida 2">Comida 2</option>
  </select>

  <hr />
  <p>Value: {{ comidas.value }}</p>
  <p>Valid: {{ comidas.valid }}</p>
  <p>Dirty: {{ comidas.dirty }}</p>
  <p>Touched: {{ comidas.touched }}</p>
  <hr />
-->

  <!-- Use [ngValue] quando quiser vincular objetos ou tipos complexos.
Use value apenas para strings simples. -->
  <select name="selectComidas" #comidas="ngModel" ngModel>
    <option value="">Selecione um alimento</option>
    @for(item of listaComidas(); track item){
    <option [ngValue]="item">{{ item.comida }}</option>
    }
  </select>

  <hr />
  <p>Value: {{ comidas.value | json }}</p>
  <p>Value: {{ comidas.value?.comida }}</p>
  <p>Value: {{ comidas.value?.preco }}</p>
  <p>Valid: {{ comidas.valid }}</p>
  <p>Dirty: {{ comidas.dirty }}</p>
  <p>Touched: {{ comidas.touched }}</p>
  <hr />

  <button [disabled]="!form.valid" type="submit">Send</button>
</form>

{{ form.valid }}
{{ form.value | json }}
